@{
    ViewBag.Title = "Home Page";
}
原始資料
    <div class="row">
        <ul class="list-group">
            @foreach (var row in ViewBag.SOURCE as int[])
            {
                <li class="list-group-item col-md-1">@row</li>
            }
        </ul>
    </div>
結果
    <div class="row">
        <ul class="list-group">
            @foreach (var row in ViewBag.RESULT as IEnumerable<int>)
            {
                <li class="list-group-item list-group-item-info col-md-1 ">@row</li>
            }
        </ul>
    </div>